.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #434652;
  position: relative;
  width: 100%;
}

.action {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 12px 36px 10px 12px;
  background: #ffffff;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.action:focus {
  border: 1px solid #8a3597;
  box-shadow: -2px -2px 0px #eed9f2, 2px 2px 0px #eed9f2, -2px 2px 0px #eed9f2,
    2px -2px 0px #eed9f2;
}

.active {
  height: 100%;
  line-height: 100%;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  width: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  z-index: 100;
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  /* background-color: #eed9f2; */
}
