.wrap {
  width: 540px;
  min-height: 100vh;
  background-color: #fff;
  gap: 34px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.actions {
  display: flex;
  gap: 16px;
  padding-bottom: 27px;
}
