.wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title-add {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #37393d;
}

.action-add {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c06ecc;
  cursor: pointer;
}

.action-add-disabled {
  color: #b8bdcc;
  pointer-events: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  height: 52px;
  border-bottom: 1px solid #ebecef;
  padding-bottom: 4px;
}
