.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  height: 68px;
  padding: 16px;
  box-sizing: border-box;
  border-top: 1px solid;
  border-color: #ebecef;
}
.active {
  background: #f8f8fa;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #ebecef;
  height: 44px;
}

.test {
  width: 200px;
}
