.wrap {
  width: 620px;
  min-height: 100vh;
  padding: 40px;
  background-color: #fff;
  gap: 34px;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 16px;
  padding-bottom: 27px;
}

.title-add {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #37393d;
}

.action-add {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c06ecc;
  cursor: pointer;
}
