.wrap {
  padding: 40px;
  background-color: #fff;
  gap: 34px;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 16px;
  width: 560px;
  padding-bottom: 27px;
}
